!!!
%html
  %head

    %title Communi3
    %meta{:charset => "utf-8"}
    %meta{:content => "NOODP", :name => "ROBOTS"}
    -# %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }

    = render 'meta'
    = stylesheet_link_tag :main, :media => 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = yield :head

  %body{ id: "#{params[:controller]}", class: "#{params[:action]}" }

    = render 'flash'
    = render 'header'
    = render 'nav'

    %main

      fadslkjflakdsfjdslkj
      %aside
        = 
        = yield :aside

      = yield

    = render 'footer'
    = render 'javascripts'


