%nav
  %p More in settings...
  %p
    = link_for 'Community Profile', settings_community_path
    = link_for 'Custom Fields', settings_attributes_path
    = link_for 'Weekend Positions', settings_positions_path
    = link_for 'User Access', settings_roles_path
    = link_for 'Mail Templates', settings_mail_templates_path
